<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="rmuser" type="esyt.framework.persistence.qxgl.beans.SYSUser" />
		<typeAlias alias="rmrole" type="esyt.framework.persistence.qxgl.beans.SYSRole" />
		<typeAlias alias="rmywxt" type="esyt.framework.persistence.qxgl.beans.SYSYwxt" />
	    <typeAlias alias="rmMenu" type="esyt.framework.persistence.qxgl.beans.SYSMenu" />
 	</typeAliases>
	<plugins>
		<plugin interceptor="dwz.dal.mybatis.plugin.OffsetLimitInterceptor">
			<property name="dialectClass" value="dwz.dal.mybatis.dialect.MySQLDialect" />
		</plugin>
	</plugins>
</configuration>