<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.dms.persistence.version.mapper.DMS_DOCVERSIONMapper">
	<resultMap id="rm" type="com.dms.persistence.version.bean.DMS_DOCVERSION">
		<result property="F_ID" jdbcType="VARCHAR" column="F_ID"/>
        <result property="F_DOCID" jdbcType="VARCHAR" column="F_DOCID"/>
        <result property="F_VERSION_NUMBER" jdbcType="DECIMAL" column="F_VERSION_NUMBER"/>
		<result property="F_CREATOR" jdbcType="VARCHAR" column="F_CREATOR"/>        
		<result property="F_CREATORNAME" jdbcType="VARCHAR" column="F_CREATORNAME"/>        
        <result property="F_COMMENT" jdbcType="VARCHAR" column="F_COMMENT"/>		
        <result property="F_CRDATE" jdbcType="TIMESTAMP" column="F_CRDATE"/>
	</resultMap>
	
	<select id="loadDocVersion" resultMap="rm">
		SELECT 
			DMS_DOCVERSION.F_ID,
	        DMS_DOCVERSION.F_DOCID,
	        DMS_DOCVERSION.F_VERSION_NUMBER,
	        DMS_DOCVERSION.F_CREATOR,
			BSUSER.USER_NAME AS F_CREATORNAME,				
	        DMS_DOCVERSION.F_COMMENT,			
	        DMS_DOCVERSION.F_CRDATE
	    FROM DMS_DOCVERSION 
		LEFT JOIN BSUSER ON DMS_DOCVERSION.F_CREATOR = BSUSER.USER_ID	
		WHERE 
			DMS_DOCVERSION.F_DOCID = #{F_DOCID}
		ORDER BY DMS_DOCVERSION.F_VERSION_NUMBER DESC
	</select>
	
	<!-- 获取最大版本号 -->
	<select id="loadMaxDocVersion" resultMap="rm">
		SELECT 
			DMS_DOCVERSION.F_ID,
	        DMS_DOCVERSION.F_DOCID,
	        max(DMS_DOCVERSION.F_VERSION_NUMBER) as F_VERSION_NUMBER,
	        DMS_DOCVERSION.F_CREATOR,		
	        DMS_DOCVERSION.F_COMMENT,			
	        DMS_DOCVERSION.F_CRDATE
	    FROM DMS_DOCVERSION 
		WHERE 
			DMS_DOCVERSION.F_DOCID = #{F_DOCID}
	</select>
	
	<!-- 查找某个文件的特定版本 -->
	<select id="loadDocVersionById" resultMap="rm">
		SELECT 
			DMS_DOCVERSION.F_ID,
	        DMS_DOCVERSION.F_DOCID,
	        DMS_DOCVERSION.F_VERSION_NUMBER,
	        DMS_DOCVERSION.F_CREATOR,		
	        DMS_DOCVERSION.F_COMMENT,			
	        DMS_DOCVERSION.F_CRDATE
	    FROM DMS_DOCVERSION 
		WHERE 
			DMS_DOCVERSION.F_DOCID = #{F_DOCID} and 
			F_VERSION_NUMBER = #{F_VERSION_NUMBER}
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteHYRKMX" parameterType="java.lang.Integer">
        DELETE FROM DMS_DOCVERSION 
		WHERE
        	F_ID = #{F_ID}
    </delete>
	
     <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="OBJ_ID">
        INSERT INTO DMS_DOCVERSION (
        	F_ID,
	        F_DOCID,
	        F_VERSION_NUMBER,
	        F_CREATOR,				
	        F_COMMENT,
			F_CRDATE
        ) VALUES (
        	#{F_ID} ,
        	#{F_DOCID} ,
        	#{F_VERSION_NUMBER} ,
        	#{F_CREATOR} ,
        	#{F_COMMENT} ,
        	#{F_CRDATE}
        )
	</insert>

	<update id="update" parameterType="com.mrp.persistence.sysConfigure.deport.bean.HYCKZD">
        UPDATE DMS_DOCVERSION SET
			F_COMMENT = #{F_COMMENT}
        WHERE 
	        F_ID = #{F_ID}
	</update>	
	
	<!-- 按Id删除 -->
	<delete id="deleteDocVersion" parameterType="java.lang.Integer">
        DELETE FROM DMS_DOCVERSION
        WHERE 
	        F_DOCID = #{F_DOCID}
	</delete>
	
</mapper>

