<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="dwz.persistence.mapper.SYS_OBJECTMapper">
	<resultMap id="rm" type="dwz.persistence.beans.SYS_OBJECT">
        <result property="OBJ_ID" jdbcType="VARCHAR" column="OBJ_ID"/>
        <result property="OBJ_MC" jdbcType="VARCHAR" column="OBJ_MC"/>
        <result property="OBJ_DES" jdbcType="VARCHAR" column="OBJ_DES"/>
        <result property="OBJ_TYPE" jdbcType="VARCHAR" column="OBJ_TYPE"/>
        <result property="OBJ_APPTYPE" jdbcType="VARCHAR" column="OBJ_APPTYPE"/>
        <result property="SYS_ID" jdbcType="VARCHAR" column="SYS_ID"/>
		<result property="F_STAU" jdbcType="INTEGER" column="F_STAU"/>
        <result property="F_CRDATE" jdbcType="TIMESTAMP" column="F_CRDATE"/>
        <result property="F_CHDATE" jdbcType="TIMESTAMP" column="F_CHDATE"/>
	</resultMap>
	
	<select id="load" resultMap="rm">
		SELECT 
	        OBJ_ID,
	        OBJ_MC,
	        OBJ_DES,
	        OBJ_TYPE,
	        OBJ_APPTYPE,
	        SYS_ID,
	        F_STAU,
	        F_CRDATE,
			F_CHDATE
	    FROM SYS_OBJECTS
	    WHERE 
	        OBJ_ID = #{OBJ_ID} 
	</select>

	<!-- 按Id删除 -->
	<delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM SYS_OBJECTS WHERE
        OBJ_ID = #{OBJ_ID} 
    </delete>
     <!-- 插入 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="OBJ_ID">
        INSERT INTO SYS_OBJECTS (
        	OBJ_ID,
	        OBJ_MC,
	        OBJ_DES,
	        OBJ_TYPE,
	        OBJ_APPTYPE,
	        SYS_ID,
	        F_STAU,
	        F_CRDATE,
			F_CHDATE
        ) VALUES (
        	#{OBJ_ID} ,
        	#{OBJ_MC} ,
        	#{OBJ_DES} ,
        	#{OBJ_TYPE} ,
        	#{OBJ_APPTYPE} ,
        	#{SYS_ID} ,
        	#{F_STAU} ,
        	#{F_CRDATE} ,
			#{F_CHDATE}
        )
	</insert>

	<select id="findAll" resultMap="rm">
    	SELECT 
	        OBJ_ID,
	        OBJ_MC,
	        OBJ_DES,
	        OBJ_TYPE,
	        OBJ_APPTYPE,
	        SYS_ID,
	        F_STAU,
	        F_CRDATE,
			F_CHDATE
	    FROM SYS_OBJECTS
		ORDER BY F_CRDATE
    </select>
	
	<select id="findByObjId" resultMap="rm">
    	SELECT 
	        OBJ_ID,
	        OBJ_MC,
	        OBJ_DES,
	        OBJ_TYPE,
	        OBJ_APPTYPE,
	        SYS_ID,
	        F_STAU,
	        F_CRDATE,
			F_CHDATE
	    FROM SYS_OBJECTS
		WHERE 
	        OBJ_ID like "%"#{keywords,jdbcType=VARCHAR}"%"
		ORDER BY F_CRDATE
    </select>
	
	<!-- 更新 -->
	<update id="updateSelective" parameterType="dwz.persistence.beans.ResBook">
        UPDATE res_book 
        	<set>
			        <if test="SN!=null" >
			        SN = #{sn} ,
					</if>
			        <if test="NAME_CN!=null" >
			        NAME_CN = #{nameCn} ,
					</if>
			        <if test="NAME_EN!=null" >
			        NAME_EN = #{nameEn} ,
					</if>
			        <if test="PUBLISH!=null" >
			        PUBLISH = #{publish} ,
					</if>
			        <if test="PUBLISH_DATE!=null" >
			        PUBLISH_DATE = #{publishDate} ,
					</if>
			        <if test="INSERT_DATE!=null" >
			        INSERT_DATE = #{insertDate} ,
					</if>
			        <if test="UPDATE_DATE!=null" >
			        UPDATE_DATE = #{updateDate} 
					</if>
	        </set>
        WHERE 
	        ID = #{id} 
	</update>
	<update id="update" parameterType="dwz.persistence.beans.ResBook">
        UPDATE SYS_OBJECTS SET
	        OBJ_MC = #{OBJ_MC} ,
	        OBJ_DES = #{OBJ_DES} ,
	        OBJ_TYPE = #{OBJ_TYPE} ,
	        OBJ_APPTYPE = #{OBJ_APPTYPE} ,
	        SYS_ID = #{SYS_ID} ,
	        F_CHDATE = #{F_CHDATE}
        WHERE 
	        OBJ_ID = #{OBJ_ID} 
	</update>
	
	<update id="updateF_STAU" parameterType="dwz.persistence.beans.ResBook">
        UPDATE SYS_OBJECTS SET
	        F_STAU = #{F_STAU,jdbcType=INTEGER}
        WHERE 
	        OBJ_ID = #{OBJ_ID} 
	</update>
</mapper>

